#design{
    position: relative;
    //min-height: 100%;

    .design-icon {
      height: 5rem;
      max-width: 10rem;
      font-size: 2.25rem;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
      margin-bottom: 50px;
      margin-top: 50px;
    }
    
     .design-icon:hover {
      //transition: all 0.5s ease-out;
      //transform: scale(1.1);
    }
}
