#design{
    position: relative;
    min-height: 100%;

    .design-icon {
      height: 5rem;
      max-width: 10rem;
      font-size: 2.25rem;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
    }
}
