footer.footer {
  //padding-top: 2rem;
  padding-bottom: 2rem;
  .brandlogo {
    display: block;
    width: 60px;
    max-height: 50px;
    
    @media (min-width: 768px){
        width: 120px;
        max-height: 100px;
    }
  }
  
  
}
