body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include body-font;
}

// Custom Button Size
.btn-xl {
  padding: 1.25rem 2.5rem;
}


// Content Section
.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.full-section{
  position: relative;
  height: 100%;
  width: 100%;
}



.centre-y{
  display: flex;
  align-items: center;
}

.centre-xy{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centre-x{
  display: flex;
  justify-content: center;
}

.content-section-heading {

  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.text-faded {
  color: fade-out($white, 0.3);
}

/* Map */

.map {
  height: 30rem;
}

@media(max-width: 992px) {
  .map {
    height: 75%;
  }
}

.map iframe {
  pointer-events: none;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;

  display: none;

  width: 50px;
  height: 50px;

  text-align: center;

  color: white;
  background: fade-out($gray-800, .5);

  line-height: 45px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}

//Cropped Profile picture
.profilepic {
        width: 150px;
        height: 150px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        img {
            display: inline;
            height: 100%; 
        }
        
}


//Double page layout

.double-page-section{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.double-page-parent{
    position: relative;
    width: 200%;
    left: 0;
    //overflow: hidden;
    transition: all 0.4s ease-out;
}

.double-page-child{
    position: relative;
    width: 50%;
    top: 0px;
  }


.show-right-half{
    left: -100% !important;
}

.db-left{
    float: left;
}

.db-right{
    margin-left: 50%;
    height: 100vh;
}

@media(min-width:768px){
    
    .double-page-section{
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .double-page-parent{
        position: relative;
        width: 100%;
        height: 100%;
        left: 0;
        //overflow: hidden;
        transition: all 0.4s ease-out;
    }

    .double-page-child{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
      }


    .show-right-half{
        left: -100% !important;
    }

    .db-left{
        left: 0%;
    }

    .db-right{
        left: 100%;
        margin-left: 0%;
    }

}