#intro{
    
    p{
        max-width: 500px;
    }
    
    .intro-2{
        opacity: 1;
    }
    
    .intro-3{
        opacity: 1;
        color:#806600;
    }
    
    #div2{
        display: none;
    }
    
    .btn{
        background: none !important;
        box-shadow: none;
    }
    
    h1{
        margin-bottom: 20px;
    }


}