// Landing section
// Landing section
#landing {
    background-image: url("../img/loften.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    .logo{
        width: 250px;
    }
    
    @media(min-width:768px){
        
        .logo{
            width: 450px;
        }
    }
    
     #landing:after{
        content: "";
        background: url(../img/subtle-dots.png) repeat;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1; 
    }
}

