#showcase{
    
    color: $secondary;
    
    //custom carousel settings

    .carousel #item1{
        background-image: url(../img/henri.jpg);
    }
    
    .carousel #item2{
        background-image: url(../img/bike2.jpg);
    }
    
    .carousel #item3{
        background-image: url(../img/bike3.jpg);
    }
    
    .carousel-item{
        background-position: center;
        background-repeat: no-repeat;
    }
    
     
    #henri-preview{
        background-image: url(../img/henri_grey.jpg);
        background-position: left;
     }
    
 }
