// Splash screen
.splash {
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 10000;
    transition: all 1s ease-out;
    opacity: 1;
    
    .lang-select{
        opacity: 0;
    }
    
    .wrap{
        width: 100%;
        position: relative;
    }
    
    .logo{
        width: 100px;
    }
    
    svg{
        position: relative;
        width: 100%;
        height: 5px;
    }
    
    line{
        stroke-width: 4px;
        stroke: grey;
        stroke-dasharray: 100vw;
        //stroke-dashoffset: 0vw;
        //animation: 2s load ease-in infinite;
    }
    
    @keyframes load {
      0% {
        stroke-width: 1px;
      }
    30% {
        stroke-width: 7px;
        stroke: #B8AA99;
      }
      600% {
        //stroke-dashoffset: 0;
        stroke-width: 5px;
        stroke: #B8AA99;
      }
      100% {
        //stroke-dashoffset: 0;
        stroke-width: 1px;
        stroke: grey;
      }
    }
    
    .hide{
        //opacity: 0.2 !important;
        background-color: none !important;
    }
    
    .btn-lang{
        &:hover{
            color: #806600;
        }
    }
    
}

