doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        title Marizaan Carstens Audiology
        // Bootstrap Core CSS
        link(href="vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet")
        // Custom Fonts
        link(href="vendor/font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic", rel="stylesheet", type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet")
        //Simple Line Icons
        link(href="vendor/simple-line-icons/css/simple-line-icons.css", rel="stylesheet")
        // Custom CSS
        link(href="css/mza.min.css", rel="stylesheet")
        //Favicon
        link(rel="icon", href="img/favicon.png")
    body#page-top
        // Navigation
        a.menu-toggle.rounded(href="#")
            i.fa.fa-bars
        nav#sidebar-wrapper
            ul.sidebar-nav
                li.sidebar-brand
                    a.js-scroll-trigger(href="#page-top") Tourmalet
                li.sidebar-nav-item
                    a.js-scroll-trigger(href="#page-top") Home
                li.sidebar-nav-item
                    a.js-scroll-trigger(href="#about") About
                li.sidebar-nav-item
                    a.js-scroll-trigger(href="#services") Services
                li.sidebar-nav-item
                    a.js-scroll-trigger(href="#contact") Contact
                li.sidebar-nav-item
                    a.js-scroll-trigger(href="#Map") Map
        // Header
        #landing.full-section.centre-y
            div.container.text-center
                img.logo(src="img/logo.svg")
        // Design
        .double-page-section#design
            .double-page-parent
                .double-page-child.db-left.centre-y
                    .container.text-center
                        .row
                            .col-md-4
                                img.mb-5.design-icon(src="img/icons/mep.svg")
                            .col-md-4
                                img.mb-5.design-icon(src="img/icons/hs.svg")
                            .col-md-4
                                img.mb-5.design-icon(src="img/icons/im.svg")
                            .col-md-4
                                img.design-icon(src="img/icons/bw.svg")
                            .col-md-4
                                img.design-icon(src="img/icons/vl.svg")
                            .col-md-4
                                img.design-icon(src="img/icons/dogma.svg")
                .double-page-child.db-right.text-center.centre-y
                    .container
                        h1 Bespoke brand design
                        p From Olympic athletes to internationally accredited doctors to craft beer breweries.
                        p Tourmalet Media helps distinguished individuals and brands present themselves as such.
        //Showcase
        section#showcase.centre-y
            .container-standard
                .cover.p-5
                    btn.btn-expand#btnViewProject.btn.btn-primary.pull-right Recent projects
                .carousel#carousel-showcase.slide.h-100(data-ride='carousel',data-interval="false")
                            // Indicators
                            ul.carousel-indicators
                                li.active(data-target='#carousel-showcase', data-slide-to='0')
                                li(data-target='#carousel-showcase', data-slide-to='1')
                                li(data-target='#carousel-showcase', data-slide-to='2')
                                li(data-target='#carousel-showcase', data-slide-to='3')
                                li(data-target='#carousel-showcase', data-slide-to='4')
                                li(data-target='#carousel-showcase', data-slide-to='5')
                            // The slideshow
                            .carousel-inner.h-100
                                #item1.carousel-item.active
                                    h4.w-50 Featured on the custom bike of Olympic Medalist, Henri Schoeman
                                #item2.carousel-item
                                #item3.carousel-item
                                    h4.w-50 Brand identity and design for Red Bull ambassador, Richard Murray
                                #item4.carousel-item
                                    h4.w-50 
                                #item5.carousel-item
                                    h4.w-50.text-dark Brand identity and design for The Nunez Hurley Academy
                                #item6.carousel-item
                                    h4.w-50.text-dark Web and design projects for 7 x triathlon world champion, Conrad Stoltz
                                #item7.carousel-item
                            // Left and right controls
                            a.carousel-control-prev(href='#carousel-showcase', data-slide='prev')
                                span.carousel-control-prev-icon
                            a.carousel-control-next(href='#carousel-showcase', data-slide='next')
                                span.carousel-control-next-icon
        //Web
        //section#web.bg-white.text-black.centre-y
            .container
                .row
                    .col-md-6.mb-5.mb-md-0
                        .flip-container
                            .flipper
                                .front
                                        img.web-icon(src="img/previews/imacback.png")
                                .back.centre-x
                                    a(href="https://www.helderbergpainclinic.co.za", target="_blanc")
                                        img.web-icon(src="img/previews/painclinic.png")
                    .col-md-6.mb-5.mb-md-0
                        .flip-container.flip
                            .flipper
                                .front
                                    a(href="https://www.marizaancarstens.co.za", target="_blanc")
                                        img.web-icon(src="img/previews/imacback.png")
                                .back.centre-x
                                    a(href="https://www.marizaancarstens.co.za", target="_blanc")
                                        img.web-icon(src="img/previews/mca.png")
                .row
                    //.col-md-4.mb-5.mb-md-0
                        .flip-container
                            .flipper
                                .front
                                    a(href="htts://www.cavemancafe.co.za", target="_blanc")
                                        img.web-icon(src="img/previews/imacback.png")
                                .back.centre-x
                                    a(href="http://www.cavemancafe.co.za", target="_blanc")
                                        img.web-icon(src="img/previews/cavemancafe.png")
        //Contact
        section#contact.centre-y
            .container.text-center
                img.d-inline(src="img/logo.svg")
                h1.d-inline.ml-2.ml-md-5 |
                a(href="mailto:dehanlouw@icloud.com")
                    h2.d-inline.ml-2.ml-md-5 contact
        // Footer
        footer.footer.text-center
            .container-full
                a.text-muted.small.mb-0(href="mailto:dehanlouw@icloud.com") Copyright © Tourmalet Media 2018
        // Scroll to Top Button
        a.scroll-to-top.rounded.js-scroll-trigger(href="#page-top")
            i.fa.fa-angle-up
            
            
        // Bootstrap core JavaScript
        script(src="vendor/jquery/jquery.js")
        script(src="vendor/bootstrap/js/bootstrap.min.js")
        // Plugin JavaScript
        script(src="vendor/jquery-easing/jquery.easing.min.js")
        script(src="vendor/gsap/TweenMax.min.js")
        script(src="vendor/scrollmagic/ScrollMagic.min.js")
        // Custom scripts for this template
        script(src="js/mza.min.js")

